.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: blanchedalmond;
  margin: 10px;
}
